{% extends 'zlto/base.html' %}

{% block title %}
Home page
{% endblock %}


{% block header_imports %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
{% endblock %}


{% block footer_imports %}
{% include './footer_imports.html' %}
{% endblock %}

{% block body %}
<div>
    <br>
    <div class="ui container center aligned ui segment raised">
        <div class="ui grid center aligned equal width">
            <div class="column" id="profile-zlto-amount">Zlto Amount</div>
            <div class="column" id="profile-username">Username</div>
            <div class="column" id="profile-pic">Profile pic</div>
        </div>
        <div id="profile-stats">

        </div>
    </div>
    <div class="ui container">
        <br>
        <div class="ui segments">
            <div class="ui segment">
                <div class="content">
                    <div class="header">Login</div>
                    <div class="ui form" >
                        <div class="ui input">
                            <input type="text" id="id_username" placeholder="Username" value="">                            
                        </div>
                        <div class="ui input">
                            <input type="password" id="id_password" placeholder="Password" value="">                            
                        </div>
                        <div class="ui button" id="login-btn">Login</div>
                        <div class="ui button" id="logout-btn">Logout</div>
                        <div class="ui button" id="get-profile">Get Details</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui grid container two columns">
            <div class="column">
                <b>Earn Zlto</b>
                <div class="ui button" id="earn-category-button">Get Earn Category list</div>
                <br>
                <br>
                <b>Category List</b>
                <div class="ui list" id="category-list">
                </div>
            </div>
            <div class="column">
                <b>Create Earn Service</b>
                <div class="ui form">
                    <select name="category" id="id_category"></select>
                    <input type="text" placeholder="title" name="title">
                    <input type="text" placeholder="description" name="description">
                    <input type="text" placeholder="reference_name" name="reference_name">
                    <input type="text" placeholder="reference_contact_number" name="reference_contact_number">
                    <input type="number" placeholder="number_of_people" name="number_of_people">
                    <input type="number" placeholder="number_of_hours" name="number_of_hours">
                    <div class="ui button green">Send</div>
                </div>
            </div>
        </div>
        <div class="ui grid container two columns">
            <div class="column">
                <b>Coupon History</b>
                <div class="ui button" id="coupon-history-button">Get Coupon history</div>
                <div class="ui list" id="coupon-list">
                </div>
            </div>
            <div class="column">
                <b>Transaction History</b>
                <div class="ui button" id="transactions-history-button">Get Transaction history</div>
                <div class="ui list" id="history-list">
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
{% endblock %}